@page {size: auto; margin: 0;}
.fl{float: left; text-align: center; margin-left: 50mm; margin-right: 40mm;}
.fr{float: right; text-align: left; margin-right: 25mm;}
.fc{float: center; text-align: center;}
.fs-200-bold{font-size: 200%; margin-top: 30px; margin-bottom: 15px; font-weight: bold;}
.fs-200{font-size: 200%; margin-top: 47px; margin-bottom: -5px;}
.fs-180{font-size: 180%; margin-bottom: -25px; letter-spacing: 2px;}
.fs-150-title{font-size: 150%; margin-bottom: -7px; letter-spacing: 1px;}
.fs-150{font-size: 150%; margin-bottom: -15px; letter-spacing: 1px;}
.fs-120{font-size: 120%; letter-spacing: 1px;}
.fl-spc{float: left; width: 5%;}
.fl-10{float: left; width: 10%;}
.fl-15{float: left; width: 15%;}
.fl-20{float: left; width: 20%; text-align: center;}
.fl-25{float: left; width: 25%; text-align: center;}
.fl-30{float: left; width: 30%; text-align: center;}
.fl-35{float: left; width: 30%; text-align: center;}
.fl-40{float: left; width: 40%; text-align: center;}
.fl-50{float: left; width: 50%; text-align: center;}
.fl-55{float: left; width: 55%; text-align: center;}
.fl-87{float: left; width: 87.5%; text-align: center;}
.field{border-bottom: 1px dashed black;}
.tb-st{border: 1px solid black; text-align: center; padding: 3px;}
.tb{border: 1px solid black; text-align: center; padding: 3px; border-left: none;}
.no-bdt{border-top: none;}